

html {
    font-family: 'Noto Sans TC', sans-serif;
}

* {
    overflow: hidden;
}

a, button, .zoom_img, .zoom_img_text, .article .article_keywords {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}

img {
    -webkit-user-drag: none;
}

body {
    background-color: #69F1;
}

.top_bar {
    width: 100%;
    height: 50px;
    z-index: 1;
    position: fixed;
    background-color: #4477EE;
    top: 0;
    left: 0;
}

.top_bar a {
    display: flex;
    padding: 0 10px;
    height: 50px;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    color: #FFF;
    background-color: #0000;
}

.top_bar a.choose:hover {
    background-color: #58F;
}

.top_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #47E;
}

.top_bar ul li {
    display: inline;
    float: left;
}

.sidebar {


}

.article_list .list_category, .article_list .list_article {
    margin-left: 40px;
    margin-top: 10px;
    font-size: 20px;
    color: #4477EE;
}

.list_category ul.category_ul, .list_article ul.article_ul {
    color: black;
    list-style-type: none;
    margin: 0;
    width: fit-content;
    padding-left: 20px;
    overflow: hidden;
    font-size: 17px;
}

ul.category_ul li, ul.article_ul li {
    padding-top: 5px;
}

ul.category_ul li a, ul.article_ul li a {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 2px 14px;
    color: black;
}

ul.category_ul li a:hover, ul.article_ul li a:hover {
    background-color: #DDF;
}

.list {
	padding-top: 50px;
}

.list button, .text button {
    color: #FFF;
    background-color: #4477EE;
    border: none;
    font-size: 15px;
    padding: 5px 13px;
}

.text button {
    margin-top: 50px;
}

.list button:disabled {
    color: #FFF;
    background-color: #AAA;
}

.bottom_block {
	/*height: 500px;*/
    /*width: 100%;*/
    /*background-color: #4477EE;*/
	/*margin-top: 50px;*/
}

